        <section>
        <div class="">
        
            <div class="row mt-4">





            <a href="/add-complex" class="btn btn-success ml-auto">Complex</a>
        </div>
        <div class=" mt-3">
            <div class="row">
                <div class="img col-md-6">
                    
                    <div>
                        <img src="\images\frontpage.png" alt="" width="100%" height="auto">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
        

        }
          
    </script>
   

    
    
   

    